section.lista-steps {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  margin: 0;
  padding: 0.25em 0.5em;
  background-color: #d9d9d9;
  border-radius: 10px;
  color: #fff;
  position: relative;
  overflow: hidden;
}

section.lista-steps .step-element {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-direction: column;
  text-align: center;
  position: relative;
  padding: 0.5em 0.75em;
  border-radius: 5px;
  gap: 0.5em;
  font-size: 14px;
  color: #606060;
  z-index: 1;
}

section.lista-steps .step-element.active {
  font-weight: 700;
  color: #333;
}

section.lista-steps .step-active {
  position: absolute;
  top: 0.25em;
  left: 0.25em;
  width: calc((100% - 2em) / 3);
  height: calc(100% - 0.5em);
  margin: 0 0.25em;
  border-radius: 8px;
  color: #333;
  font-weight: 700;
  background-color: #fff;
  z-index: 0;
  transition: left 0.3s ease;
}