<main>
  <section class="tabela-section">
    <div class="info-tela">
      <div class="descricao-titulo">
        <h1 class="titulo-tela">Clientes Cadastrados</h1>
        <p class="descricao-tela">Gerenciar os clientes da clínica</p>
      </div>
      <div class="qtd-clientes">{{ clientes.length }} Clientes Cadastrados</div>
    </div>
    <div class="opcoes-filtro">
      <div class="input-busca">
        <i class="fa fa-magnifying-glass"></i>
        <input
          type="text"
          placeholder="Buscar por nome, email..."
          [value]="busca"
          (input)="atualizarBusca($event)"
        />
      </div>
      <div class="dropdown" [ngClass]="{ 'dropdown-aberto': dropDownAberto }">
        <button class="dropdown-button" (click)="alterarDropDown()">
          <i class="fa-solid fa-filter"></i>
          {{ opcaoDeFiltro != "" ? opcaoDeFiltro : "Todos" }}
          <i class="fa-solid fa-chevron-down"></i>
        </button>
        <div class="dropdown-content">
          <a (click)="filtrarPor('Masculino')">Masculino</a>
          <a (click)="filtrarPor('Feminino')">Feminino</a>
          <a (click)="filtrarPor('')" *ngIf="opcaoDeFiltro != ''">Todos</a>
        </div>
      </div>
      <button class="cadastrar-cliente" (click)="abrirDialogCadastroCliente()">
        Cadastrar Cliente<i class="fa-solid fa-plus"></i>
      </button>
    </div>
    <div class="tabela-container" *ngIf="clientes.length > 0; else listaVazia">
      <div class="linha-header">
        <div>Nome</div>
        <div>Email</div>
        <div>Gênero</div>
        <div>Pet's</div>
        <div>Idade</div>
        <div>Ações</div>
      </div>

      <div class="linha" *ngFor="let cliente of clientesPaginados">
        <div class="col-nome">
          <span
            class="avatar"
            *ngIf="!cliente.foto_pessoa"
            [ngStyle]="{
              'background-color':
                cliente.genero === 'Masculino' ? '#b3e5fc' : '#f8bbd0'
            }"
          ></span>
          <img [src]="cliente.foto_pessoa" width="50px" height="50px" style="border-radius: 50%; background-size: cover;" *ngIf="cliente.foto_pessoa">
          <span>{{ cliente.nome_cliente }}</span>
        </div>
        <div>{{ cliente.email }}</div>
        <div>
          <span class="genero" [ngClass]="cliente.genero">{{
            cliente.genero
          }}</span>
        </div>
        <div>
          {{
            cliente.possui_pets > 0
              ? cliente.possui_pets + " Pets"
              : "Não posssui pets"
          }}
        </div>
        <div>{{ cliente.idade }} anos</div>
        <div>
          <button class="acao">
            <i class="fa-solid fa-chevron-right"></i>
          </button>
        </div>
      </div>
      <div class="footer-tabela">
        <p>
          Mostrando a {{ paginaAtual }}ª página de
          {{ quantidadePaginas }} páginas.
        </p>
        <div class="paginacao">
          <span (click)="paginaAnterior()"
            ><i class="fa-solid fa-chevron-left"></i
            ><strong>Anterior</strong></span
          >-
          <span (click)="proximaPagina()"
            ><strong>Próximo</strong><i class="fa-solid fa-chevron-right"></i
          ></span>
        </div>
      </div>
    </div>
    <ng-template #listaVazia>
      <span class="lista-vazia-menssagem"
        >Não foram encontrados clientes cadastrados!</span
      >
    </ng-template>
  </section>
  <dialog-personalizado
    [visibilidade]="dialogCadastroVisivel"
    (fecharDialogEvent)="fecharDialog()"
    [iconVisibilidade]="true"
    [exibirFooter]="false"
    headerDoDialog="Cadastrar Cliente"
    subtituloDoDialog="Cadastrar um novo cliente na clínica"
    [style]="'max-width: 600px; width: 100%;'"
  >
    <section class="form-cadastro">
      <app-steps [steps]="steps"></app-steps>
      <app-formulario-info-pessoais
        *ngIf="formularioCadastroCliente"
        [hidden]="etapaFormulario !== steps[0].label"
        [formulario]="formularioCadastroCliente.formularioInfoPessoais"
      ></app-formulario-info-pessoais>
      <app-formulario-localizacao
        [formulario]="formularioCadastroCliente.formularioLocalizacao"
        [hidden]="etapaFormulario !== steps[1].label"
      ></app-formulario-localizacao>
      <app-formulario-complementares
        [formulario]="formularioCadastroCliente.formularioComplementares"
        [hidden]="etapaFormulario !== steps[2].label"
      ></app-formulario-complementares>
    </section>
    <div
      style="
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;
        margin: 1em auto;
      "
    >
      <app-botao
        *ngIf="etapaFormulario != steps[0].label && steps.length > 0"
        label="Voltar"
        [disabilitado]="false"
        [icone]="'fa-chevron-left'"
        categoria="secundario"
        (click)="voltarParaEtapaAnterior()"
        style="width: 90%;"
      ></app-botao>
      <ng-container *ngIf="etapaFormulario != steps[steps.length - 1].label">
        <app-botao
          label="Avançar"
          [disabilitado]="
            formularioCadastroCliente.formularioInfoPessoais.invalid
          "
          [icone]="'fa-chevron-right'"
          iconePosi="right"
          (click)="avancarParaProximaEtapa()"
          style="width: 90%;"
          *ngIf="etapaFormulario == steps[0].label"
        ></app-botao>
        <app-botao
          label="Avançar"
          [disabilitado]="
            formularioCadastroCliente.formularioLocalizacao.invalid
          "
          [icone]="'fa-chevron-right'"
          iconePosi="right"
          (click)="avancarParaProximaEtapa()"
          style="width: 90%;"
          *ngIf="etapaFormulario == steps[1].label"
        ></app-botao>
        <app-botao
          label="Avançar"
          [disabilitado]="
            formularioCadastroCliente.formularioComplementares.invalid
          "
          [icone]="'fa-chevron-right'"
          iconePosi="right"
          (click)="avancarParaProximaEtapa()"
          style="width: 90%;"
          *ngIf="etapaFormulario == steps[2].label"
        ></app-botao>
      </ng-container>
      <app-botao
        label="Cadastrar Cliente"
        [disabilitado]="
          formularioCadastroCliente.formularioComplementares.invalid ||
          formularioCadastroCliente.formularioLocalizacao.invalid ||
          formularioCadastroCliente.formularioInfoPessoais.invalid
        "
        [icone]="'fa-person'"
        iconePosi="left"
        (click)="cadastrarCliente()"
        style="width: 90%;"
        *ngIf="etapaFormulario == steps[steps.length - 1].label"
      ></app-botao>
    </div>
  </dialog-personalizado>
</main>
